.svg {
  stroke: #7ceaa4;
  stroke-width: 4;
  position: absolute;
  top: 20vh;
  left: -100vw;
  transform-style: preserve-3d;
}

.hex {
  fill: blue;
  fill-opacity: 0;
  stroke: #ff631a;
  position: relative;
}

.inner-hex {
  transform: scale(0.9) translateX(40px) translateY(38px);
}

.rect {
  fill-opacity: 0;
}

.svg:nth-child(1) {
  top: 92%;
  animation: raise1 20s linear infinite;
  animation-delay: -2s;
  transform: scale(-0.45) rotate(137deg);
  filter: blur(-3px);
}
@keyframes raise1 {
  to {
    left: 100vw;
    transform: scale(-0.45) rotate(70deg);
  }
}

.svg:nth-child(1) .hex {
  stroke: #F24333;
}

@media (max-width: 550px) {
  .svg:nth-child(1) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(2) {
  top: 69%;
  animation: raise2 21s linear infinite;
  animation-delay: -1s;
  transform: scale(-0.3) rotate(350deg);
  filter: blur(-2px);
}
@keyframes raise2 {
  to {
    left: 100vw;
    transform: scale(-0.3) rotate(81deg);
  }
}

.svg:nth-child(2) .hex {
  stroke: #F24333;
}

@media (max-width: 550px) {
  .svg:nth-child(2) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(3) {
  top: 64%;
  animation: raise3 18s linear infinite;
  animation-delay: -1s;
  transform: scale(-0.15) rotate(129deg);
  filter: blur(-1px);
}
@keyframes raise3 {
  to {
    left: 100vw;
    transform: scale(-0.15) rotate(210deg);
  }
}

.svg:nth-child(3) .hex {
  stroke: #F24333;
}

@media (max-width: 550px) {
  .svg:nth-child(3) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(4) {
  top: 28%;
  animation: raise4 19s linear infinite;
  animation-delay: 0s;
  transform: scale(0) rotate(105deg);
  filter: blur(0px);
}
@keyframes raise4 {
  to {
    left: 100vw;
    transform: scale(0) rotate(265deg);
  }
}

.svg:nth-child(4) .hex {
  stroke: #FF9000;
}

@media (max-width: 550px) {
  .svg:nth-child(4) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(5) {
  top: -19%;
  animation: raise5 25s linear infinite;
  animation-delay: -3s;
  transform: scale(0.15) rotate(93deg);
  filter: blur(1px);
}
@keyframes raise5 {
  to {
    left: 100vw;
    transform: scale(0.15) rotate(206deg);
  }
}

.svg:nth-child(5) .hex {
  stroke: #BA1B1D;
}

@media (max-width: 550px) {
  .svg:nth-child(5) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(6) {
  top: 42%;
  animation: raise6 22s linear infinite;
  animation-delay: -4s;
  transform: scale(0.3) rotate(89deg);
  filter: blur(2px);
}
@keyframes raise6 {
  to {
    left: 100vw;
    transform: scale(0.3) rotate(353deg);
  }
}

.svg:nth-child(6) .hex {
  stroke: #BA1B1D;
}

@media (max-width: 550px) {
  .svg:nth-child(6) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(7) {
  top: 76%;
  animation: raise7 22s linear infinite;
  animation-delay: -2s;
  transform: scale(0.45) rotate(330deg);
  filter: blur(3px);
}
@keyframes raise7 {
  to {
    left: 100vw;
    transform: scale(0.45) rotate(183deg);
  }
}

.svg:nth-child(7) .hex {
  stroke: #BA1B1D;
}

@media (max-width: 550px) {
  .svg:nth-child(7) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(8) {
  top: 95%;
  animation: raise8 25s linear infinite;
  animation-delay: -2s;
  transform: scale(0.6) rotate(305deg);
  filter: blur(4px);
}
@keyframes raise8 {
  to {
    left: 100vw;
    transform: scale(0.6) rotate(227deg);
  }
}

.svg:nth-child(8) .hex {
  stroke: #FF9000;
}

@media (max-width: 550px) {
  .svg:nth-child(8) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(9) {
  top: 72%;
  animation: raise9 21s linear infinite;
  animation-delay: -4s;
  transform: scale(0.75) rotate(102deg);
  filter: blur(5px);
}
@keyframes raise9 {
  to {
    left: 100vw;
    transform: scale(0.75) rotate(125deg);
  }
}

.svg:nth-child(9) .hex {
  stroke: #FF9000;
}

@media (max-width: 550px) {
  .svg:nth-child(9) {
    transform: none;
    animation: none;
  }
}
.svg:nth-child(10) {
  top: 37%;
  animation: raise10 26s linear infinite;
  animation-delay: -2s;
  transform: scale(0.9) rotate(34deg);
  filter: blur(6px);
}
@keyframes raise10 {
  to {
    left: 100vw;
    transform: scale(0.9) rotate(151deg);
  }
}

.svg:nth-child(10) .hex {
  stroke: #FF9000;
}

@media (max-width: 550px) {
  .svg:nth-child(10) {
    transform: none;
    animation: none;
  }
}

/*# sourceMappingURL=index.css.map */
