$green: #7ceaa4;
$purple: #3b3d54;
$carmine: #8C001A;
$darkorange: #FF9000;
$bloodred: #660000;
$seagreen: #44FFD2;
$carnelian: #BA1B1D;
$cinnabar: #F24333;

$colors: $cinnabar, $darkorange, $carnelian;

.svg{
  stroke:$green;
  stroke-width: 4;
  position:absolute;
  top: 20vh;
  left: -100vw;
  transform-style: preserve-3d;
}

.hex {
    fill: blue;
    fill-opacity: 0;
    stroke: rgb(255, 99, 26);
    position: relative;
}
.inner-hex {
    transform: scale(0.9) translateX(40px) translateY(38px);
}
.rect {
    fill-opacity: 0;
}

$total: 10;
@for $i from 1 through $total {
  $scale:random(2) - .4;
  
  .svg:nth-child(#{$i}){
    top:random(120) * 1% - 20;
    animation: raise#{$i} 15 + random(15) +s linear infinite;
    animation-delay:random(5) - 5 + s;
    transform: scale(.15 * $i - .6) rotate(random(360) + deg);
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to{
        left: 100vw;
       transform: scale(.15 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
  .svg:nth-child(#{$i}) .hex{

    stroke: nth($colors, random(length($colors)));
  }
}