


.background{
  background: url(http://apod.nasa.gov/apod/image/1606/PelicanNorthAmerica_Etcheverry_3232.jpg);
  background-size: cover;
  color: aliceblue;
  font-family: "Avenir Next", "Helvetica", sans-serif;

  transition: all 0.5s 1s ease-in-out;

  height: 100vh;
}

/* Image Credit: Ezequiel Etcheverry
   ezequiel.etcheverry@yahoo.com
   Taken from NASA Astronomy Picture of the Day  */

/* bigger screens */
@media (min-width: 768px) {
  .background{
    padding-top:290px;
  }

  #shuffleButton{
    opacity: 0;
  }
}

/* smaller screens */
@media (max-width: 768px) {
   .background{
     padding-top: 100px;
   }

   #shuffleButton{
     opacity: 1;
   }
 }

a{
  color: inherit;
}

a:hover{
  color: #bbb;
}

a:focus{
  color: #bbb;
  outline: none;
}

h1{
  color: aliceblue;
}

.jumbotron{
  background-color: rgba(30, 30, 30, 0.5);

  padding-bottom: 20px;
}

.link{
  text-align: center;
}

.hoverText{
  color: #bbb;

  text-align: center;
  opacity: 0;
}

.hoverTextContainer{
  height: 30px;
}

.separator{
  margin: 0 10px;
}

.subtitle{
  margin-top: 10px;
}

#shuffleButton{
  border: none;
  background: rgba(0,0,0,0);
  transition: all 0.3s ease-in;
}

#shuffleButton:focus{
  outline: none;
}

#shuffleButton:hover{
  color: #bbb;
}
