


body{
  background: url(http://apod.nasa.gov/apod/image/1606/PelicanNorthAmerica_Etcheverry_3232.jpg);
  background-size: cover;
  color: aliceblue;

  height: 100vh;
}

/* Image Credit: Ezequiel Etcheverry
   ezequiel.etcheverry@yahoo.com
   Taken from NASA Astronomy Picture of the Day  */

/* bigger screens */
@media (min-width: 768px) {
  body{
    padding-top:290px;
  }
}

/* smaller screens */
@media (max-width: 768px) {
   body{
     padding-top: 100px;
   }
 }

a{
  color: inherit;
}

a:hover{
  color: #bbb;
}

h1{
  color: aliceblue;

}

.jumbotron{
  background-color: rgba(30, 30, 30, 0.5);

  padding-bottom: 20px;
}

.link{
  text-align: center;
}

.hoverText{
  color: #bbb;

  text-align: center;
  opacity: 0;
}

.hoverTextContainer{
  height: 30px;
}
