body{
  background: url(http://apod.nasa.gov/apod/image/1606/PelicanNorthAmerica_Etcheverry_3232.jpg);
  background-size: cover;
  color: aliceblue;

  padding-top:35vh;
  height: 100vh;
}

a{
  color: inherit;
}

h1{

  color: rgba(255, 255, 255, 0.1);
  background: url(http://apod.nasa.gov/apod/image/1606/PelicanNorthAmerica_Etcheverry_3232.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jumbotron{
  background-color: rgba(30, 30, 30, 0.5);
}

.link{
  text-align: center;
}
